$brand-primary: darken(#428bca, 20%);

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "~font-awesome/fonts";
@import '~bootstrap/scss/bootstrap';

body {
  padding-top: 3.5rem;
}
main{
  margin-top: 50px;
}